<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(93431226, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93431226" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9YVK904DQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y9YVK904DQ');
    </script>
    <meta http-equiv="content-language" content="ru" />
    <meta name="keywords" content="sql, c#, asp.net, подготовка к собеседованию, вопросы, собеседование" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="a0385bec759ab3a4" />
    <meta name="google-site-verification" content="LMvzvZZasve-oqxTqV2BaeboqJAofmaGSobf1cQbalY" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/postv1.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.2/jquery-ui.css" />
    <link href="google-code-prettify/prettify.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body style="background-color:#f7fafa">
    <a></a>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="width:15%" asp-area="" asp-controller="Home" asp-action="Index"> <img width="100%" src="~/images/home/logo.png" /> </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">


                    <ul style="padding-left:5%" class="navbar-nav flex-grow-">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-id="1" asp-controller="Post" asp-action="Index">C#</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-id="2" asp-controller="Post" asp-action="Index">SQL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-id="3" asp-controller="Post" asp-action="Index">ASP.NET</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-id="4" asp-controller="Post" asp-action="Index">Паттерны</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Тесты
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-controller="Test" asp-action="Index" asp-route-id="1">C#</a>
                                <a class="nav-link text-dark" asp-controller="Test" asp-action="Index" asp-route-id="2" disable>SQL</a>
                                <a class="nav-link text-dark" asp-controller="Test" asp-action="Index" asp-route-id="3" disable>ASP.NET</a>
                                <a class="nav-link text-dark" asp-controller="Test" asp-action="Index" asp-route-id="4" disable>Паттерны</a>
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-dark" asp-controller="Test" asp-action="Create">Добавить вопрос</a>
                                }
                            </div>
                        </li>
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Модерация
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-controller="Post" asp-action="Moderation">Статьи</a>
                                    <a class="nav-link text-dark" asp-controller="Test" asp-action="Moderation">Тесты</a>
                                    <a class="nav-link text-dark" asp-controller="Language" asp-action="Index">Категории</a>
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Moderation">Пользователи</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

                <div class="navbar-brand navbar-right">
                    <a class="fa-lg  fa-brands fa-vk" target="_blank" title="Мой ВК" href="https://vk.com/id71137119"></a>
                    <a class="fa-lg fa-brands  fa-telegram" target="_blank" title="Моя телега" href="https://t.me/YaRomch1k"></a>
                    <a class="fa-lg fa-brands  fa-github" target="_blank" title="Репозиторий сайт" href="https://github.com/yaromchik/GoToWork"></a>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <script src="~/lib/syntax/src/summernote-ext-highlight.js"></script>
    <script src="~/lib/syntax/dist/summernote-ext-highlight.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.13.2/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @Html.RenderUnobtrusiveAjaxScript()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
